@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&family=Khand:wght@400;600&family=Yanone+Kaffeesatz:wght@400;600&display=swap");

:root {
  --background-color: #181920;
  --text-color-00: #fff;
  --box-color-00: #2f3744;
  --box-color-01: #404b5c;
  --shadow: 0 4px 8px 0 #ffffff4d;
  --border-color: #ffffff4d;
  --success-color: #00c851;
  --danger-color: #f44;
  --warning-color: #fb3;
}

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Yanone Kaffeesatz, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-00);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
